body {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1%;
    text-align: center;
    background-color: white;
}

.main {
    margin: auto;
background-color: whitesmoke;
height: 100vh;

}

.header {
    font-size: 2em;
    display: flex;
   align-items: stretch;
    text-align: right;
    background-color: white;
}

.subheader{
    background-color: white;
    padding-bottom: 1%;
}
.spacer{
    flex-grow: 1;
}

.header-buttons {
    align-self: baseline;
    
}

.name {
    font-size: 1.5em;
    text-align: left;
    align-self: baseline;
}

.button {

    cursor: pointer;
    border-bottom: 2px solid #aaa;
}

#this-page {
    border-color: #333;
}

.button:hover {
    color: #4D6B90;
    border-color: #4D6B90;
}

.content {
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 8%;
    display: flex;

}

.sidebar {
    text-align: right;
    margin-left: 5%;
    display: flex;

}

img {
    height: auto;
    width: 100%;
    border-radius: 2%;
    padding: 1%;
    border: #777 1px solid;
}

@media screen and (min-width: 600px) {
    .content {
        flex-direction: row-reverse;
    }

    .main {
        width: 40%;
        min-width: 600px;
    }
    .sidebar{
        flex-direction: column;
    }
    .photo{
        min-width: 7vw;
    }
}

@media screen and (max-width: 599px) {
    .content {
        flex-direction: column;
    }

    .header {
        flex-direction: column;
    }
    .sidebar {
        justify-content: space-between;
        flex-direction: row;
    }
    .socials{
        align-self: flex-end;
        max-width: 160px;
        width: 35vw;
    }
    .photo{
        min-width: 50%;
        max-width: 20vw;
        
    }

}


.ref{
    padding-left: 2em;
    text-indent:-2em;
}

a.material-symbols-outlined{
    text-indent: 0em;
    text-decoration: none;
    vertical-align: middle;
}