body {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    background-color: #e8e8e8;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.song-box{
    height: 100vh;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-blend-mode: darken;
}

.song-box:hover{
    background-color: #00000033;
    transition: all 0.3s ease-in-out;
}
iframe{
    border: none;
    height: 30vh;
    width: 30vw;
}

.song-heading{
    background-color: #ffffffaa;
    padding: 1vw;
    width: 20vw;
    user-select: none;
}

aside{
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    font-size:10em;
    color:white;
    user-select: none;
    pointer-events: none;
}
footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0vw;
    overflow-x: visible;
    background-color:#ddd;
    font-size: 0.75rem;
    padding-top: 2px;
}

.results{
    max-height: 90vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1vw;
    margin-top: 1vw;
}

.song-result{
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.art{
    height: 8vh;
    width: 8vh;
    color: white;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background-size: cover;
    -webkit-text-stroke: #aaa 1px;
    user-select: none;
}
.song-result .text{
    text-align: left;
    padding-left: 1vw;
    max-width: 20vw;
}

/* From Uiverse.io by ke1221 */ 
button {
  color: #090909;
  padding: 0.7em 1.7em;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}


nav {
    position: absolute;
    top: 1rem;
    right: -1rem;
    display: flex;
    gap: 0.5rem;
    background-color: #e8e8e8;
    padding: 1rem;
    padding-right: 2rem;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
}